.colorslider-header{
    display: flex;
    justify-content:space-between;
    font-size: 1.12em;
    padding: 8px 0;
}
.slider-content{
    display: flex;
    height:36px;
    align-items: center;
}
.slider-block{
    height:18px;
    flex:1;
    cursor: pointer;
    transition:all 0.3s ease;
}
.slider-block:hover{
    transform-origin: center;
    transform: scale(1.2);
    -webkit-transform-origin:center 9px;
    -webkit-transform:scale(1.2);
    
}