.gradient-wrapper{
    padding:6px;
    position: relative;
    margin:20px 0;
}
.circle-gradient-zone{
    width:200px;
    height:200px;
    margin:0 auto;
    border-radius: 260px;
}
.color-btns{
    margin:16px 10px 10px 10px;
}
.color-circle-btn{
    width:30px;
    height:30px;
    border-radius: 30px;
    cursor: pointer;
    box-sizing: border-box;
    border:1px solid #c5c5c5;
    background: #fff;
    margin:0 6px;
    display: inline-block;
}
.gradient-setting{
    display: flex;
    padding:4px 0;
    justify-content: space-evenly;
}
.setting-icon{
    font-size: 20px;
    margin:0 6px;
}